{% extends "base.html" %}
{% block title %}
|home
{% endblock title %}
{% block content %}
{% load static %}
<style>
    .alertMessage {
            padding: 20px;
            width: 75%;
            font-size: 20px;
            margin: auto;
            border-radius: 5px;
            box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px 2px;
        }
        
    .closeBtn {
            float: right;
            margin-left: 18px;
            font-size: 30px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.4s;
        }
   
</style>
<section class="down-box" id="contact" style="margin-top: 25px !important;">
    <div class="contactSkills">
        <div class="contact-info">
            <div class="main-text">
                <h2 class="heading">Contact Me</h2>
                <span>get in touch with me</span>
            </div>

            {% if messages %}
            {% for message in messages %}
            <div class="alertMessage">
                <span class="closeBtn" onclick="this.parentElement.style.display='none';">×</span>
                <strong>Hi!</strong> {{message}}
            </div>
            {% endfor %} 
            {% endif %}

            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="input-box">
                    <input type="text" placeholder="First Name" name="first_name">
                    <input type="text" placeholder="Last Name" name="last_name">
                </div>
                <input type="email" placeholder="Email" name="email">
                <input type="text" placeholder="Subject" name="subject">
                <textarea id="" cols="30" rows="10" name="message"></textarea>
                <div class="formBtn">
                    <button type="submit " class="btn ">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}