{% extends "base.html" %}
{% block title %}
|portfolio
{% endblock title %}
{% block content %}
{% load static %}
<section class="portfolio" id="portfolio">
    <div class="fillter-buttons">
        <div class="contact-info1">
            <div class="main-text">
                <h2 class="heading">My Services</h2>
                <span>what i will do for you</span>
            </div>
            <button class="button mixitup-control-active" data-filter="all">All My Services and Work</button>
            <div class="searchbox">  
                <form method="POST" action="{% url 'search_form' %}"> 
                    {% csrf_token %}
                    <input style="border:2px,solid,rgb(254, 77, 7); border-radius: 9px;" type="text" placeholder="Search...." name="searched">   
                    <button type="submit">Submit</button>   
                </form>  
            </div>  
        </div>
    </div>

        {% for i in finds %}
        <div class="portfolio-box mix branding">
            <div class="portfolio-content">
                <h3>{{i.title}}</h3>
                <p>{{i.desc}}</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="{{i.image.url}}" alt="">
            </div>
        </div>
        <br>
        {% endfor %}  

        {% for i  in Backend %}
        <div class="portfolio-box mix web">
            <div class="portfolio-content">
                <h3>{{i.title}}</h3>
                <p>{{i.desc}}</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="{{i.image.url}}" alt="">
            </div>
        </div>
        <br>
        {% endfor %}

        {% for i in uiux %}
        <div class="portfolio-box mix uiux">
            <div class="portfolio-content">
                <h3>{{i.title}}</h3>
                <p>{{i.desc}}</p>
                <a href="#" class="readMore">Explore More</a>
            </div>
            <div class="portfolio-img">
                <img src="{{i.image.url}}" alt="">
            </div>
        </div>
        <br>
    {% endfor %}
</section>

<script>
    document.querySelector('.readMore').addEventListener('click', function(event) {
    event.preventDefault();
    alert("Visite my Github account_!");
});

</script>

{% endblock content %}